.pebble {
    width: 20px;
    height: 20px;
    border-radius: 20px;
    background-color: #999999;
    display: inline-block;
}

.btn-info {
    width: 200px;
}

.taken {
    background-color: #ffb600
}

.ttt-btn {
    width: 40px;
    height: 40px;
    margin: 2px
}